body{
    margin: 40px auto;
    max-width: 1000px;
    line-height: 1.6;
    font-size: 18px;
    color: #444;
    font-family: monospace;
    background: #ebdcccd5;
}

main{
    margin: 0 auto;
    background-color: #eee0d000;
    width: 80%;
    border-radius: 10px;
    max-width: 650px;
}

h2{
    color: black;
    line-height: 50px;
    text-align: center;

}

.links-container {
    text-align: center; /* Center align the links */
}

.links-container a {
    display: inline-block; /* Display links inline-block to align them horizontally */
    line-height: 50px; /* Set line height */
    margin-right: 20px; /* Add right margin between the links if needed */
    text-decoration: none; /* Remove underline from links */
    color: #2201dd; /* Set link color */
}

.links-container a:last-child {
    margin-right: 0; /* Remove margin from the last link */
}

.experience {
    margin: 0;
}

.position {
    margin: 0;
}

.position h4,
.position h5 {
    margin: 0;
}
