*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}
body{
    background: #eee0d0;
    color: #0000007e;
}
.container{
    padding: 10px 10%;
    height: 100px;
}

h2{
    color: black;
    line-height: 50px;
}

header{
    color:rgb(0, 0, 0);
    padding:15px 15px 0 15px;

}
header h1{
    margin:0;
    display:inline;
 }

nav{ 
    margin:0;
    float:right;
}
nav ul li{
    display:inline-block;
    list-style:none;
    padding:5px 15px;
    
}